<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IET Present In 10 Demo</title>
    <script>
      function red_led_on() {
        console.log("Turning red LED on");
        fetch("/led/1/on")
          .then((response) => response.text())
          .then((text) => console.log(text));
      }

      function green_led_on() {
        console.log("Turning green LED on");
        fetch("/led/2/on")
          .then((response) => response.text())
          .then((text) => console.log(text));
      }

      function blue_led_on() {
        console.log("Turning blue LED on");
        fetch("/led/3/on")
          .then((response) => response.text())
          .then((text) => console.log(text));
      }

      setInterval(() => {
        fetch("/status").then((response) =>
          response.json().then((status) => {
            console.log(status);
            if (status.red == 1) {
              document.getElementById("red-led-box").style.backgroundColor =
                "#ff1a1a";
            } else {
              document.getElementById("red-led-box").style.backgroundColor =
                "#ff8080";
            }
            if (status.green == 1) {
              document.getElementById("green-led-box").style.backgroundColor =
                "#33ff33";
            } else {
              document.getElementById("green-led-box").style.backgroundColor =
                "#80ffbf";
            }
            if (status.blue == 1) {
              document.getElementById("blue-led-box").style.backgroundColor =
                "#0066ff";
            } else {
              document.getElementById("blue-led-box").style.backgroundColor =
                "#80ccff";
            }
          })
        );
      }, 1000);
    </script>

    <style>
      .flex-container {
        display: flex;
        justify-content: space-between;
      }

      .flex-container > div {
        height: 30vh;
        min-width: 100px;
        margin: 10px;
        text-align: center;
        flex-grow: 1;
      }

      button {
        width: 100%;
        font-size: 1.4rem;
      }
    </style>
  </head>

  <body>
    <div style="max-width: 1000px; margin: auto; display: block">
      <h1 style="text-align: center; margin: auto; display: block">
        IET Present In 10 Demo
      </h1>
      <h2 style="text-align: center; margin: auto; display: block">
        Change the State of the World
      </h2>
      <h2
        style="text-align: center; margin: auto; display: block; color: #555555"
      >
        Tim Guite
      </h2>
      <br />
      <div style="display: block"></div>
      <div class="flex-container">
        <div id="red-led-box" style="background-color: #ff8080">
          <button id="red-led-button" onclick="red_led_on()">RED LED</button>
        </div>
        <div id="green-led-box" style="background-color: #80ffbf">
          <button id="green-led-button" onclick="green_led_on()">
            GREEN LED
          </button>
        </div>
        <div id="blue-led-box" style="background-color: #80ccff">
          <button id="blue-led-button" onclick="blue_led_on()">BLUE LED</button>
        </div>
      </div>
    </div>
  </body>
</html>
